html {
    font-size: 16px;
}

body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    color: #333;
 }

/* Toggle Styles */

a:link    { color: #00c }  /* unvisited links */
a:visited { color: #00a }  /* visited links   */
a:hover   { color: #00f }  /* user hovers     */
a:active  { color: #ccc }  /* active links    */

h1, h2, h3 {
    color:#000;
    font-family: 'Montserrat', sans-serif;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 200px;
}

#sidebar-wrapper {
    font-size: 0.7rem;
    letter-spacing: 1px;
    z-index: 1000;
    position: fixed;
    left: 205px;
    width: 0;
    height: 100%;
    margin-left: -200px;
    overflow-y: auto;
    background: #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper ul {
    padding-left: 15px;
    font: normal normal 'Montserrat', sans-serif !important;
    text-transform: uppercase;
    list-style: none;
    list-style-type: none;
}

#sidebar-wrapper > ul > li {
    margin-top: 7px;
}

#sidebar-wrapper ul > li ul {
    list-style: disc;
    list-style-type: circle;
}

#wrapper.toggled #sidebar-wrapper {
    width: 100px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
    font-size: 0.9rem;
    line-height: 1.6;
}

#page-content-wrapper p {
    margin-bottom: 15px;
}

#page-content-wrapper h1 {
    font-size: 2em;
    text-transform: uppercase;
}

#page-content-wrapper h2 {
    font-size: 1.5em;
    text-transform: uppercase;
}

#page-content-wrapper h3 {
    font-size: 1.2em;
    text-transform: uppercase;
}

#refs.references {
    border-top: 1px solid #DDD;
    margin-top: 30px;
    padding-top: 30px;
    font-size:0.9em;
    color: #666;
}

img{ width:100%; max-width:600px; }

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -200px;
}

.pager a {
    font: normal normal 'Montserrat', sans-serif !important;
    font-size: 0.8em;
    text-transform: uppercase;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 14px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: rgb(192,197,194);
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

.sidebar-nav > .logo {
    padding-top: 20px;
    padding-left: 15px;
    padding-bottom: 35px;
    width: 85%;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 200px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 200px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
